<div class="jumbotron" id="bodyJumbo" ng-init="tab=3">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="pull-left">Contact Me:</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-2"></div>	
		<div class="col-sm-8 text-center">
			<h4><b>Phone: </b>781-724-3390</h3>
			<h4><b>Email: </b>tjfitzg@g.clemson.edu</h3>
			<h4 id="h4link"><b>LinkedIn:</b><a href="https://www.linkedin.com/in/tylerjohnfitzgerald">
				https://www.linkedin.com/in/tylerjohnfitzgerald
			</a></h4>
		</div>
		<div class="col-sm-2"></div>
	</div>

	<hr style="margin-top: 30px;"/>

</div>