<div class="jumbotron" id="bodyJumbo" ng-init="tab=1">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="pull-left">Work Experience</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-1"></div>	
		<div class="col-sm-9">
			<h3>Draper Laboratory, Software Engineering Internship</h3>
			<h4 style="margin-left:25px;"><i>Spring-Summer 2015</i></h4>
			<ul style="padding-left:50px;">
			  <li >Assisted in development of multi-platform web app for a Draper customer. The web app was to be used to facilitate the customer’s quality assurance tests for their products.</li>
			  <li>Created and maintained dynamic web pages (AngularJS) to create, modify, and complete tests. Added a functionality to display customer metrics and incorporated BootstrapJS to assure the app looked proper on all platforms.</li>
			  <li>Worked with a team to create Matlab/Java project to parse through repository of interconnected tcl scripts and enumerate structures defined by tcl syntax.</li>
			</ul>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>	
		<div class="col-sm-9">
			<h3>EMC, Software Engineering Internship</h3>
			<h4 style="margin-left:25px;"><i>Spring-Summer 2014</i></h4>
			<ul style="padding-left:50px;">
			  <li >Performed as part of a small scrum team responsible for production of office infrastructure applications.</li>
			  <li>Developed web pages for use in infrastructure applications according to requests received by other employees.</li>
			</ul>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="pull-left">Skills</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-1"></div>	
		<div class="col-sm-9">
			<h3>Languages:</h3>
			<h5 style="margin-left:25px;">C, C++, Python, MATLAB</h5>
			<h3>Web Development:</h3>
			<h5 style="margin-left:25px;">HTML, JavaScript, AngularJS, Node.js, Bootstrap, MongoDB,
		               MEAN stack, SQL, PHP, CSS, Heroku</h5>
			<h3>General:</h3>
			<h5 style="margin-left:25px;">Linux (Ubuntu and Red Hat), Microsoft Visual Studio, Android Development,
                      Git, SVN, GDB, Raspberry Pi</h5>
		</div>		
		<div class="col-sm-1"></div>	
	</div>
	<hr style="margin-top: 30px;"/>

</div>