<div class="jumbotron" id="bodyJumbo" ng-init="$scope.tab=0">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="pull-left">About Me:</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-6">
			<p class="pull-left" id="bioText">I am currently a senior computer engineering student at Clemson University. I will be graduating in early May this year. I am seeking full-time employment as a full-stack, front-end, or back-end web developer (preferential  order) or as a software engineer.</p>
			<p></p>
			<p id="bioText">I grew up in Hanover, Massachusetts and I anticipate moving back to somewhere in the northeast after graduating. I am starting my job search in Boston and New York City.</p>
		</div>
		<div class="col-sm-5 text-center">
			<img src="Tyler_Fitzgerald.PNG" class="img-thumbnail" alt="Tyler Fitzgerald" width="181" height="235" style="margin-top:20px">
		</div>
	</div>
	<hr style="margin-top: 15px;"/>
	<div class="row text-center">
		<div style="display:hidden;">
        
        </div>
	</div>
</div>