<div class="jumbotron" id="bodyJumbo" ng-init="tab=2">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="pull-left">Resume</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-1"></div>	
		<div class="col-sm-9">
			<h5>To download my resume you may click <a href="Tyler_Fitzgerald_Resume_2016.docx">here</a>.</h5>
			<h5>To view my resume as a Google doc, click <a href="https://docs.google.com/document/d/1FnDuSTEg5lUv2sH6pTLQpd4OAXRrPcV_dEXnWRKH3GY/edit?usp=sharing">here</a>.</h5>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<hr style="margin-top: 15px;"/>
</div>