<div class="jumbotron" id="bodyJumbo" ng-init="tab=2">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="pull-left">Example Web App</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
			<p class="webAppParagraph">
				In March I decided to focus my job search almost fully on web development. I had previously been spending most of my time preparing for general software engineering jobs. I stopped spending the bulk of my available time studying algorithms and data structures in preparations for interviews, and I instead decided to create an example web app to show to potential employers.</p>
			<p class="webAppParagraph">
				I developed a MEAN full-stack web app to use as a proof of concept of my web development skills. I am still continuing to develop the web app. I will be adding plenty of more features, fixing any bugs, and improving appearance as I continue to prepare for a full-time career and complete my shool work. I am making as much time as I can in between all my school work to do so.
			</p>
			<p class="webApp">
				<b>App Description:</b> The app I have created can be used to create and manage "intramural" sport leagues. Administrators can create an account where they then manage a league or several leagues. The administrator creates teams, lays out the schedule, and then inputs the scores of each game. The web app handles the league standings and hosts all of the league records. The administrators simply need to supply the league players with a link to view the league at any time. Or a player can search for their league at the main page. 
			</p>
			<p class="webApp">
				<b>Technologies Used:</b> MEAN stack comproised of MongDB, Express middlewear, AngularJS, and Node.js, as well as Bootstrap, Heroku, Stormpath (user identity API), and more.
			</p>
			<p class="webApp">
				<b>Link To App: </b><a id="h4link" href="https://intramuralleaguemaker.herokuapp.com">https://intramuralleaguemaker.herokuapp.com</a>
			</p>
			<p class="webApp">
				<b>Source Code: </b><a id="h4link" href="https://github.com/tjfitzg/intramuralLeagueMaker">https://github.com/tjfitzg/intramuralLeagueMaker</a>
			</p>
			<p class="webApp">
				<b>NOTE:</b> The idea for this web app is not original. The purpose of this web app is entirely to serve as a proof of concept of my web development capabilities. The web app is still under development. If you find any bugs I would greatly appreciate it if you would let me know.
			</p>

	</div>
	<hr style="margin-top: 15px;"/>
</div>